<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @website.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @website.description %>
</p>

<p>
  <strong>Online:</strong>
  <%= @website.online %>
</p>

<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
